.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5em;
  color: #333;
}

.login-form div + div {
  margin-top: 1.5em;
}

.login-form label {
  display: block;
  margin-bottom: 0.5em;
  color: #555;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 0.7em;
  margin-top: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 0.9em;
  margin-top: 1.5em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}
